<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

### **Módulo** | Análise de Dados | Python: Variáveis & Tipos de Dados
---

#### 1\. Lição 1:

Utilizando a função print(), escreva 'Olá mundo'

In [1]:
print('Olá mundo')

Olá mundo

---

#### 2\. Lição 2:

Use expressões algébricas para calcular<br> 
A - Valor de venda do dia 19 (ticket/qnt_vendas)<br> 
B - Quantidade vendida no dia 20 (valor_vendas/ ticket)<br> 
C - Ticket do dia 23

In [3]:
# 19/01
qtd_total_vendas_1 = 3
ticket_medio_1 = 320.52

# 20/01
valor_total_vendas_2 = 337.01
ticket_medio_2 = 119.21

# 23/01
valor_total_vendas_3 = 295.33
qtd_total_vendas_3 = 5

In [4]:
# Calcule aqui:
A = ticket_medio_1 * qtd_total_vendas_1
B = valor_total_vendas_2 / ticket_medio_2
C = valor_total_vendas_3 / qtd_total_vendas_3

print('(A) = ', A)
print('(B) = ', B)
print('(C) = ', C)

(A) =  961.56
(B) =  2.827027933898163
(C) =  59.065999999999995

---

#### 3\. Lição 3:

Aplicar métodos nas strings<br>

Substitua todas as vírgulas por barras /<br>
Deixe a string em maiúscula<br>
Encontre a posição da palavra "moinho" na string<br>

In [6]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

In [7]:
# Substitua todas as vírgulas por barras

result1 = cancao.replace(',' , '/')
print(result1)

Roda mundo/ roda gigante/ roda moinho/ roda pião.

In [8]:
# Deixe a string em maiúscula

result2 = cancao.upper()
print(result2)

RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.

In [9]:
# Encontre a posição da palavra "moinho" na string

result3 = cancao.find('moinho')
print(result3)

31

---

#### 4\. Lição 4:

Extraia da string abaixo o valor da taxa selic na variável selic e o valor do ano na variável ano. Imprima os valores na tela.

In [12]:
noticia = 'Selic vai a 2,75% e supera expectativas é a primeira alta em 6 anos.'

In [13]:
selic = noticia[12:17]
print(selic)

2,75%

In [14]:
ano = noticia[-7]
print(ano)

6

---

#### 5\. Lição 5:

Utilizando a tabela da verdade para descobrir o valor da variável x?

In [15]:
a = False
b = True
x = not a & b
print(x)

True